/* Columns */

.col-categorias, .col-subcategorias, .col-descricao__span {
	width: 200px;
	max-width: 200px;
}

.col-unidades {
	width: 150px;
	min-width: 150px;
}

.col-tipos {
	width: 175px;
	min-width: 175px;
}

/* Itens */

[id*="especificacoes"] ul {
  padding-left: 1.2rem!important;
  list-style: circle;
}