/* Spinner Loading */

.spinner-loading {
  position: fixed;
  z-index: 99999;
  width: 100%;
  height: 100%;
  display: table;
  background-color: rgba(255,255,255, .75);
  text-align: center;
  user-select: none;
}

.spinner-loading__icon {
  vertical-align:middle;
  display: table-cell;
}

/* iCheck Hacks */

.icheckbox_square-blue {
	vertical-align: bottom;
}

/* Bootstrap Nav Pills Hacks */

.nav-pills .show > .nav-link.dropdown-toggle:not(.active):focus {
  color: #fff;
}

/* Bootstrap Scrollspy Hacks */

.scrollspy {
  position: relative;
  height: 135px;
  overflow: hidden;
}

.scrollspy__auto {
  overflow: auto;
}

.scrollspy__h350 {
  height: 350px;
}

/* Bootstrap Toggle Hacks */

.toggle-on.btn, .toggle-off.btn {
  line-height: initial;
  font-weight: 500!important;
}

/* Bootstrap Table thead > th Hack */

.table thead th {
  vertical-align: middle;
}

/* Bootstrap Color Hacks */

.bg-destroy {
  color: #fff!important;
  background-color: #c67d23!important;
}

.text-destroy {
  color: #c67d23!important;
}

.bg-report {
  color: #fff!important;
  background-color: #8c336a!important;
}

.text-report {
  color: #8c336a!important;
}

.bg-export {
  color: #fff!important;
  background-color: #016531!important;
}

.text-export {
  color: #016531!important;
}

.bg-dashboard {
  color: #fff!important;
  background-color: #00a68c!important;
}

.text-dashboard {
  color: #00a68c!important;
}

/* Bootstrap Font Family Reset */

.bs-font-family {
  font-family:
    "Source Sans Pro",
    -apple-system,
    BlinkMacSystemFont,
    "Segoe UI",
    Roboto,
    "Helvetica Neue",
    Arial,
    sans-serif,
    "Apple Color Emoji",
    "Segoe UI Emoji",
    "Segoe UI Symbol";

  font-weight: 400;
  color: #212529;
}

/* Bootstrap Dropdown Item Hacks */

.dropdown-item:active, .dropdown-item:active .bs-font-family {
  color: #fff!important;
}

/* Bootstrap Table Responsive Hacks */

.table-responsive--mh {
  min-height: 345px;
}

/* CKEditor Hacks */

.ck-editor__editable {
  min-height: 350px!important;
  overflow: auto!important;
}

#itens * .ck-editor__editable {
  min-height: 260px!important;
}

figure.table table {
  width: 100%;

  border: 1px solid #dee2e6;
}

figure.table table thead th {
  border-bottom-width: 2px;
}

figure.table table th, figure.table table td {
  border: 1px solid #dee2e6;
}

#especificacao > figure.table table th:nth-child(-n+3), #especificacao > figure.table table td:nth-child(-n+3) {
  text-align: center;
}

#especificacao > figure.table table td:nth-child(-n+3) {
  vertical-align: middle;
}

/* Select 2 */

.input-group > .select2-container--bootstrap4 {
  width: 1%!important;
  flex: 1 1 auto;
}

.select2-container .select2-selection--single .select2-selection__rendered {
  margin-top: -2px;
}

/* Select 2 - Tags */

.select2-container--bootstrap4 .select2-selection--multiple .select2-selection__rendered {
  padding: .275rem .375rem 0 0;
}

.select2-container--bootstrap4 .select2-selection--multiple .select2-selection__choice {
  background: #e4e4e4;
  border: 1px solid #aaa;
  margin: 0 0 .25rem .1875rem;
  padding: .15rem .4rem .1rem;
  font-size: 1.2em;
}

.select2-container--bootstrap4 .select2-selection--multiple .select2-selection__choice__remove {
  vertical-align: middle;
  font-size: 1.2em;
  margin-bottom: .1rem;
}

.select2-container .select2-search--inline {
  padding-top: .25rem !important;
}

/* Select 2 - Grouped */

.select2-results__options.select2-results__options--nested > .select2-results__option[role="treeitem"][aria-selected="true"] {
  display: none;
}

/* Error Messages Hacks */

.has-error .form-control {
	border-color: #dc3545;
}

.has-error .input-group-text {
	border-color: #dc3545;
	color: #dc3545;
}

.has-error label, .has-error .form-check-label {
	color: #dc3545;
}

.has-error .invalid-feedback {
	display: block;
}

/* Error Icon Hacks */

.has-error__icon {
  background-repeat: no-repeat;
  background-position: center right calc(2.25rem / 4);
  background-size: calc(2.25rem / 2) calc(2.25rem / 2);
  background-image: url("data:image/svg+xml,<svg xmlns='http://www.w3.org/2000/svg' fill='%23dc3545' viewBox='-2 -2 7 7'><path stroke='%23d9534f' d='M0 0l3 3m0-3L0 3'/><circle r='.5'/><circle cx='3' r='.5'/><circle cy='3' r='.5'/><circle cx='3' cy='3' r='.5'/></svg>");
}

.has-error__icon.custom-select {
  border-color: #dc3545;
  padding-right: 3.4375rem;
  background: url("data:image/svg+xml,<svg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 4 5'><path fill='%23343a40' d='M2 0L0 2h4zm0 5L0 3h4z'/></svg>") no-repeat right .75rem center/8px 10px, url("data:image/svg+xml,<svg xmlns='http://www.w3.org/2000/svg' fill='%23dc3545' viewBox='-2 -2 7 7'><path stroke='%23d9534f' d='M0 0l3 3m0-3L0 3'/><circle r='.5'/><circle cx='3' r='.5'/><circle cy='3' r='.5'/><circle cx='3' cy='3' r='.5'/></svg>") no-repeat center right 1.75rem/1.125rem 1.125rem;
}

/* Custom Select Hacks */

.custom-select {
  vertical-align: middle;
  background: url("data:image/svg+xml,<svg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 4 5'><path fill='%23343a40' d='M2 0L0 2h4zm0 5L0 3h4z'/></svg>") no-repeat right .75rem center/8px 10px;
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
}

/* Ellipsis */

.ellipsis {
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
}

/* Not Allowed Element */

.not-allowed {
  cursor: not-allowed;
  pointer-events: none;
  outline: none;
}

/* Columns */

.col-options-3 {
  width: 154px;
  min-width: 154px;
}
.col-options-4 {
  width: 204px;
  min-width: 204px;
}

.col-status {
	width: 115px;
  min-width: 115px;
}

.col-total {
  width: 150px;
  min-width: 150px;
  max-width: 150px;
}

.col-created-at {
	width: 160px;
}

/* Legends */

.legend {
	display: inline-block;
  width: 30px;
  height: 21px;
}

.legend.legend-danger {
	background: #f5c6cb;
  border: 1px solid  #cc7880;
}

.legend.legend-warning {
	background: #ffeeba;
  border: 1px solid #e2c25f;
}

/* Ajustes das badges indicativas ( show | hide ) do Search Panel */

#searchChevronDown, #searchChevronUp {
  padding: .2em .3em;
}

/* Cursor Adjust */

.cursor-pointer {
  cursor: pointer;
}

/* DataTable Order By Adjust */

.order-by:hover {
  cursor: pointer;
  background-color: #dee2e6;
}

.right.right--resource-marker {
  transform: unset!important;
  top: 5px!important;
  padding-top: .65rem!important;
  padding-bottom: .55rem!important;
}

/* Carousel Multi Item */

@media (max-width: 767px) {

  .carousel--multi-item > .carousel-inner > .carousel-item > .row > [class*="col"]:nth-child(2) .description-block {
    border-right: 0!important;
  }
}

@media (max-width: 575px) {

  .carousel--multi-item > .carousel-inner > .carousel-item > .row > [class*="col"] .description-block {
    margin: 5px 0;
    padding: 0 0 15px;
    border-right: 0!important;
    border-bottom: 1px solid #dee2e6!important;
  }

  .carousel--multi-item > .carousel-inner > .carousel-item > .row > [class*="col"]:nth-last-child(1) .description-block {
    padding: 0 0 10px;
    border-bottom: 0!important;
  }
}

/* Bootstrap Padding Right Hack */

.pr-6 {
  padding-right: 4.5rem!important;
}

.error{
  color:red;
}

.obrigatorio{
  color:red;
}

.main-sidebar { background-color: #421200 !important }
.control-sidebar { background-color: #421200 !important }

.btn span.glyphicon {
	opacity: 0;
}
.btn.active span.glyphicon {
	opacity: 1;
}
